aioamqp==0.14.0
autopep8==1.5
coverage==5.0.3
decorator==4.4.1
flake8==3.7.9
mccabe==0.6.1
parso==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.6.0
pycodestyle==2.5.0
pyflakes==2.1.1
sexpdata==0.0.3
simplegeneric==0.8.1
six==1.14.0
traitlets==4.3.3
twine==1.10.0
