aioamqp==0.15.0
autopep8==2.0.2
coverage==7.2.2
decorator==5.1.1
flake8==6.0.0
mccabe==0.7.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.7.0
pycodestyle==2.10.0
pyflakes==3.0.1
sexpdata==1.0.0
simplegeneric==0.8.1
six==1.16.0
traitlets==5.9.0
twine==4.0.2
